name: praxis_flutter_domain
description: A new Flutter project.
version: 0.0.1

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  go_router: ^3.0.1
  flutter_clean_architecture: ^5.0.0

  flex_color_scheme: ^4.1.1
  google_fonts: ^2.2.0
  cupertino_icons: ^1.0.4

  logging: ^1.0.2
  dio: ^4.0.4
  connectivity_plus: ^2.2.0
  url_launcher: ^6.0.18
  shared_preferences: ^2.0.12
  equatable: ^2.0.3
  firebase_core: ^1.11.0
  firebase_auth: ^3.3.5
  firebase_analytics: ^9.0.5
  firebase_app_check: ^0.0.6+4
  cloud_firestore: ^3.1.6
  cloud_functions: ^3.2.5
  firebase_messaging: ^11.2.5
  firebase_storage: ^10.2.5
  firebase_crashlytics: ^2.4.5
  firebase_dynamic_links: ^4.0.4
  firebase_in_app_messaging: ^0.6.0+6
  firebase_app_installations: ^0.1.0+5
  google_sign_in: ^5.2.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
